
    <section class="detail">
        <h1 class="detail__title">IP Address Tracker</h1>
        <form class="detail__inputs" name="frmInput" (ngSubmit)="onSubmit($event)">
          <input type="text" placeholder="Search for any IP address or domain ..." name="inputIP" [(ngModel)]="inputIP">
           <button></button>
        </form>
        <div class="detail__description">
          <div class="detail__description--item">
            <h2 class="detail-description-item__title">IP Address</h2>
            <p class="detail-description-item__texto" >{{ipAddress}}</p>
          </div>

          <div class="detail__description--item">
            <h2 class="detail-description-item__title">Location</h2>
            <p class="detail-description-item__texto" [style.white-space]="'pre-line'">{{location}}</p>
          </div>

          <div class="detail__description--item">
            <h2 class="detail-description-item__title">Timezone</h2>
            <p class="detail-description-item__texto">{{timeZone}}</p>
          </div>

          <div class="detail__description--item">
            <h2 class="detail-description-item__title">ISP</h2>
            <p class="detail-description-item__texto" [style.white-space]="'pre-line'">{{isp}}</p>
          </div>
        </div>
    </section>

    <section class="mapa" id="map">

    </section>

    <div class="mensaje">Your IP:{{inputIP}}</div>






